[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"
  VITE_OPENROUTER_API_KEY = "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"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  publish = "dist"
