[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"
  VITE_GOOGLE_API_KEY = "AIzaSyDV-xpKfyHFXRHfCRAe5H0hFcFqWnwQgfQ"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  publish = "dist"
